<br>
  <div class="row">
	  <p class=" col-11" style="color: white; font-size: 50px; padding: 31px 0 0 27px;">{{username}} total points: {{homeResponse.teamPoints}}</p>
    <img (click)="onSubmit(11)" class="col-2 secretImage" src="../../assets/Logo.png" style="width: 100px;" alt="">
  </div>

<br>

  <mat-card class="matCardContainer" id="Oh you have found me! My name is X Æ A-12, I have safely hidden my treasure in gith... wait someone is coming, take this keyphrase you'll need it more than once! DHSRjd">
    <mat-card class="matCardRow" *ngFor="let style of styles; index as j" [style]="styles[j][0]">
      <div class="button-row">
        <div class="flex-container">
          <div class="button-container" *ngFor="let completed of homeResponse.section[j].completed; index as i">
            <button (click)="openSnackBar()" *ngIf="!homeResponse.section[j].unlocked || (homeResponse.section[j].unlocked&&completed)" mat-fab class="QuestionButton" disabled [style]="styles[j][1]">{{3*(j)+i+1}}
            </button>
            <button (click)="onSubmit(3*(j)+i+1)"  mat-fab class="QuestionButton" *ngIf="!(!homeResponse.section[j].unlocked || (homeResponse.section[j].unlocked&&completed))" [style]="styles[j][1]">{{3*(j)+i+1}}
            </button>
          </div>
        </div>
      </div>
  </mat-card>



  <mat-card class="matCardBottom" style="background-color: white; border-top-left-radius: 0; border-top-right-radius: 0;">
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          Copyright &copy; 2021 RASS -
          <a class="whatIf" (click)="onSubmit(10)" style="color:black; font-size:14px; text-decoration:none;">What's this?</a>
        </div>

      </div>
    </div>
  </mat-card>
  </mat-card>
