
<mat-card class="matCardContainer" matBadge appMatBadgeIcon="src\assets\Logo.png" >
  <mat-card class="matCardRow" *ngFor="let style of styles; index as j" [style]="styles[j][0]">
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container" *ngFor="let completed of homeResponse.sections[j].completed; index as i">
          <button (click)="onSubmit(3*(j)+i+1)" mat-fab class="QuestionButton" [disabled]="!homeResponse.sections[j].unlocked || (homeResponse.sections[j].unlocked&&completed)" [style]="styles[j][1]">{{3*(j)+i+1}}
          </button>
        </div>
      </div>
    </div>
</mat-card>



<mat-card class="matCardBottom" style="background-color: white; border-top-left-radius: 0; border-top-right-radius: 0;">
  <div class="button-row">
    <div class="flex-container">
      <div class="button-container">
        Copyright &copy; 2021 RASS -
        <a class="whatIf" routerLink="/login" routerLinkActive="active" style="color:black; font-size:14px; text-decoration:none;">What's this?</a>
      </div>

    </div>
  </div>
</mat-card>
</mat-card>

<p>TeamID: {{Teamid}}</p>
