
<mat-card class="matCardContainer" matBadge appMatBadgeIcon="src\assets\Logo.png">

    <mat-card class="matCardRow" style="background-color: rgb(181, 240, 98); border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
        <div class="button-row">
          <div class="flex-container">
            <div class="button-container">
              <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(131,202,33);">1
              </button>
            </div>
            <div class="button-container">
              <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(131,202,33);">2
              </button>
            </div>
            <div class="button-container">
              <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(131,202,33);">3
              </button>
            </div>
          </div>
        </div>
    </mat-card>

    <mat-card class="matCardRow" style="background-color: #8097f5; border-radius: 0;">
      <div class="button-row">
        <div class="flex-container">
          <div class="button-container">
            <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(86,118,245);">4
            </button>
          </div>
          <div class="button-container">
            <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(86,118,245);">5
            </button>
          </div>
          <div class="button-container">
            <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(86,118,245);">6
            </button>
          </div>
        </div>
      </div>
  </mat-card>

  <mat-card class="matCardRow" style="background-color: rgb(250, 128, 128); border-radius: 0;">
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(250,83,83);">7
          </button>
        </div>
        <div class="button-container">
          <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(250,83,83);">8
          </button>
        </div>
        <div class="button-container">
          <button mat-fab class="QuestionButton" style="color: #fff; background-color:rgb(250,83,83);">9
          </button>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="matCardBottom" style="background-color: white; border-top-left-radius: 0; border-top-right-radius: 0;">
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          Copyright &copy; 2021 RASS -
          <a routerLink="/login" routerLinkActive="active" style="color:black; font-size:14px; text-decoration:none;">What's this?</a>
        </div>

      </div>
    </div>
  </mat-card>
</mat-card>
