<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Question #{{questionID}}</mat-card-title>
    <mat-card-subtitle>{{questionData.questionTitle}}</mat-card-subtitle>
  </mat-card-header>
  <p style="border: 1px solid black; border-radius: 5px; padding: 5px;">{{questionData.question}}<p>
  <mat-card-content>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input type="text" matInput placeholder="Flag" formControlName="flag">
        </mat-form-field>
        <div class="button">
          <button type="submit" mat-button class="questionButton">Submit</button>
        </div>
      </div>


      <p *ngIf="message" class="error">
        {{ message }}
      </p>

    </form>
  </mat-card-content>

</mat-card>

